*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


body {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: solid 1px #14255c;

  

}

header{
  margin-bottom: 20px;
  background-color: #aee1f9;
  background-image: linear-gradient(315deg, #e6eef7 0%, white 60%);
}

nav ul h2  {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Staatliches', cursive;
  color: #14255c;
  padding: 10px;
}

nav ul li  {
  display: flex;
  justify-content: center;
  list-style-type: none;
  color: #828db0;
}


.intro-sec{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  margin: 30px;
  
}
.intro-sec p {
  margin-top: 10px;
  justify-content: center;
  text-align: center;
  color: #242730;
  font-size: 20px;
  color: #828db0;

}

.intro-sec img {
  height: 180px;
  border-radius: 10px;
  width: 100%;
  
}

.aboutMe-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #aee1f9;
  background-image: linear-gradient(315deg, #e6eef7 0%, white 60%);
}

.projects-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #aee1f9;
  background-image: linear-gradient(315deg, #e6eef7 0%, white 60%);
}

.contact-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #aee1f9;
  background-image: linear-gradient(315deg, #e6eef7 0%, white 60%);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
  background-color: #14255c;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

form label {
  font-size: small;
}

form button {
  margin-top: 15px;
  padding: 10px 15px;
}
